  <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="contaier">
	
		<tbody>
		    <tr th:each="article : ${articles}">
		        <td th:text="${article.id}"></td>
		        <td th:text="${article.content}"></td>
<!--		        <td th:text="${article.user.name}"></td>-->
		        <td>
		            <img th:src="@{'/images/' + ${article.imageFileName}}" th:alt="${article.imageFileName}" width="100"/>
		        </td>
		       		  <a class="btn btn-primary btn-sm" th:href="@{/articles/edit(id=${article.id})}">編集</a>
		</tbody>
	</table>
	<a th:href="@{/articles/create}" class="p-1">
	 <button class=" btn btn-primary fixed-button" >＋</button>
	</a>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>